.card-container {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.card {
  width: 18rem;
  height: 330px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-img-top {
  height: 170px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-body {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 40px;
}

.btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #555;
  margin: 3px 10px 0 0;
}

select {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 1rem;
  color: #333;
  transition: background-color 0.3s ease;
}

select:hover {
  background-color: #e2e2e2;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(144, 186, 230, 0.5);
}
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.shopping-cart-icon {
  position: fixed;
  top: 15px;
  right: 50px;

  width: 35px;
  height: 35px;
}
a {
  text-decoration: none;
}
.cart-count {
  position: absolute;
  top: 20px;
  right: 30px;
  background: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.8em;
}
