<div class="search-bar">
  <input
    #query
    type="text"
    (input)="doSearch(query.value)"
    placeholder="Search Product"
  />
</div>
<div class="center-container">
  <label for="categories">Filter by Category:</label>
  <select
    name="categories"
    id="categories"
    #level
    (change)="selectCategory(level.value)"
  >
    <option selected value="">All</option>
    <ng-container *ngFor="let category of categories$ | async">
      <option value="{{ category }}">{{ category }}</option>
    </ng-container>
  </select>
</div>
<div class="card-container">
  <ng-container *ngFor="let product of filteredProducts$ | async">
    <div class="card">
      <img [src]="product.thumbnail" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          <a
            [routerLink]="['/products', product.id]"
            (click)="selectProduct(product.id)"
            >{{ product.title }}</a
          >
        </h5>

        <p class="card-text">${{ product.price }}</p>
      </div>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </ng-container>
</div>
