.card-container {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.card {
  width: 18rem;
  height: 330px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-img-top {
  height: 170px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-body {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 40px;
}

.btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
