.container {
  max-width: 800px;
}

.cart-list .card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: auto;
}

.product-title {
  font-weight: 600;
  font-size: large;
}

.product-info {
  color: rgba(60, 86, 236, 0.751);
}

.amount {
  margin-top: 50px;
  text-align: right;
}
