<div class="container mt-4">
  <h1>Shopping Cart</h1>
  <hr />
  <div *ngIf="!(cartProductsDetails$ | async)?.length">
    <p>Your cart is empty.</p>
  </div>
  <div class="cart-list">
    <ng-container *ngFor="let cartProduct of cartProductsDetails$ | async">
      <ng-container *ngIf="cartProduct">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                [src]="cartProduct.thumbnail"
                class="card-img"
                alt="{{ cartProduct.title }}"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="product-title">{{ cartProduct.title }}</h6>
                <h6 class="product-info">Price: ${{ cartProduct.price }}</h6>
                <h6 class="product-info">
                  Quantity: {{ cartProduct.quantity }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="amount">
    <p><strong>Amount Before Tax:</strong> ${{ amountBeforeTax$ | async }}</p>
    <p><strong>Tax:</strong> ${{ tax$ | async }}</p>
    <p><strong>Total Amount:</strong> ${{ totalAmount$ | async }}</p>
  </div>
</div>
